*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.img{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
img{
    width: 500px;

}
.caption{
    width: 200px;
}