.box{
    width: 200px;
    height: 200px;
    background-color: crimson;
}
.card{
    height: 280px;
    width: 200px;
    background-color: orangered;
    margin: 0 auto;
}
.active{
    background-color: aqua;
}
