*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    height: 60px;
    width: 100vw;
    background-color: rgb(200, 196, 255);
    justify-content: space-between;
}
.img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.logo{
    font-size: 32px;
}
.page{
    display: flex;
}
.sidebar{
    height: 600px;
    width: 500px;
    background-color: aquamarine;
}
.main{
    height: 600px;
    width: 800px;
    background-color: rgb(117, 158, 158);
}
.footer{
    width: 100vw;
    height: 50px;
    background-color: blanchedalmond;
}