*{
    margin: 0;
    padding: 0;
}
h2{
    background-color: orange;
}
#unique-header{
    background-color: blueviolet;
}
.card , .highlight{
    background-color: yellow;
}
.container p {
    background-color: aquamarine;
}
.container > p{
    background-color: rgb(4, 54, 97);
}

h3 + p{
    background-color: brown;
}

input[type="text"]{
    background-color: crimson;
}
input[type="password"]{
    background-color: black;
}
button:hover{
    background-color: darkmagenta;

}
button:active{
    background-color: blueviolet;
}

li:nth-of-type(odd){
    background-color: indigo;

}

.story::first-letter{
    font-size: 28px;
}
.story::selection{
    color: aqua;
}